<navbar model="ctrl.navModel"></navbar>
<div class="monitoring-container page-container">
  <div class="panel-container">
    <div class="dashboard-link-container">
      <a class="dashboard-link" href="/dashboard/new?orgId=1">
        <img class="dashobard-image" src="public/img/dashboard.png">
        <span class="dashboard-name">Dashboard-1</span>
      </a>
    </div>
    <div class="dashboard-link-container">
      <a class="dashboard-link" href="/dashboard/new?orgId=1">
        <img class="dashobard-image" src="public/img/dashboard.png">
        <span class="dashboard-name">Dashboard-1</span>
      </a>
    </div>
    <div class="dashboard-link-container">
      <a class="dashboard-link" href="/dashboard/new?orgId=1">
        <img class="dashobard-image" src="public/img/dashboard.png">
        <span class="dashboard-name">Dashboard-1</span>
      </a>
    </div>
    <div class="dashboard-link-container">
      <a class="dashboard-link" href="/dashboard/new?orgId=1">
        <img class="dashobard-image" src="public/img/dashboard.png">
        <span class="dashboard-name">Dashboard-1</span>
      </a>
    </div>
    <div class="dashboard-link-container">
      <a class="dashboard-link" href="/dashboard/new?orgId=1">
        <img class="dashobard-image" src="public/img/dashboard.png">
        <span class="dashboard-name">Dashboard-1</span>
      </a>
    </div>
    <div class="dashboard-link-container">
      <a class="dashboard-link" href="/dashboard/new?orgId=1">
        <img class="dashobard-image" src="public/img/dashboard.png">
        <span class="dashboard-name">Dashboard-1</span>
      </a>
    </div>
  </div>
</div>
